.footer {
    $footer: &;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-self: center;
        max-width: 873px;
        width: 100%;
    }

    &__top {
        display: flex;

        #{$footer}__info {
            max-width: 180px;

            #{$footer}__title {
                margin-bottom: 60px;
                font-size: 1.4rem;
                color: #22356F;
            }

            #{$footer}__span {
                font-size: 1.4rem;
                line-height: 22px;
                color: #22356F;
            }
        }

        #{$footer}__infold {
            max-width: 180px;

            #{$footer}__title {
                margin-bottom: 60px;
                font-size: 1.4rem;
                color: #22356F;
            }

            #{$footer}__span {
                font-size: 1.4rem;
                line-height: 22px;
                color: #22356F;
            }

            #{$footer}__phone {
                margin-top: 22px;
                display: inline-block;
                text-decoration: none;
                font-size: 1.4rem;
                line-height: 22px;
                color: #22356F;
            }

            #{$footer}__email {
                display: inline-block;
                text-decoration: none;
                font-size: 1.4rem;
                line-height: 22px;
                color: #6CD3E1;
            }
        }

        #{$footer}__hours {
            max-width: 110px;

            #{$footer}__title {
                margin-bottom: 60px;
                font-size: 1.4rem;
                color: #22356F;
            }

            #{$footer}__span {
                font-size: 1.4rem;
                line-height: 22px;
                color: #22356F;
            }
        }
    }

    &__bottom {
        background-color: #6CD3E1;


        #{$footer}__copyright {
            padding: 30px 0 30px 0;
            margin-left: 180px;
            display: inline-block;
            font-size: 1.4rem;
            color: white;
        }
    }
}