.addition {
    $addition: &;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    &__top {}

    &__box {
        width: 480px;
        height: 480px;
        background-color: #22356F;
        position: relative;

        &::after {
            content: '';
            width: 340px;
            height: 2px;
            position: absolute;
            top: 96px;
            left: 70px;
            background-color: white;


        }

        &:nth-child(2) {
            background-color: #0052C1;

        }

        &:nth-child(3) {
            background: url(../images/addition/bg-box.png) no-repeat;
        }

        &:nth-child(4) {
            background-color: #62D0DF;
        }

        &:nth-child(5) {
            background-color: #DEE1FF;
        }

        &:last-child {
            background-color: #8F00FF;
        }

        #{$addition}__list {
            display: flex;
            list-style: none;

            #{$addition}__item {
                margin: 126px 0 0 70px;
                color: white;
                font-size: 3.2rem;


                &::before {
                    content: "•";
                    color: #E9B730;
                }
            }
        }
    }

    &__box-botoom {
        margin: 0 auto;
        max-height: 280px;
        height: 100vh;
        

        #{$addition}__subtitle {
            align-content: flex-start;
            margin-top: 55px;
            font-size: 2.8rem;
            color: #22356F;
        }

        #{$addition}__text {
            margin-top: 28px;
            max-width: 298px;
            font-size: 1.6rem;
            line-height: 25px;
            color: #22356F;
        }
    }
}