.therive {
    $therive: &;

    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    background-color: #62D0DF;
    

    &__left {
        max-width: 555px;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-self: center;
        
    }

    &__title {
        font-size: 3.2rem;
        color: white;
    }

    &__text {
        margin-top: 80px;
        max-width: 555px;
        font-size: 2.4rem;
        color: white;
    }

    &__right {
        max-width: 525px;
        width: 100%;
    }

}